In [1]:
# Twilio App

In [33]:
import pandas as pd
import zipcodes

In [44]:
counties = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/live/us-counties.csv')
counties.shape

(3245, 10)

In [45]:
counties['county'] = counties['county'] + " County"

In [47]:
counties.head()

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2021-01-16,Autauga County,Alabama,1001.0,5103,55.0,4509.0,48.0,594.0,7.0
1,2021-01-16,Baldwin County,Alabama,1003.0,16002,179.0,11552.0,130.0,4450.0,49.0
2,2021-01-16,Barbour County,Alabama,1005.0,1712,36.0,971.0,28.0,741.0,8.0
3,2021-01-16,Bibb County,Alabama,1007.0,2130,47.0,1753.0,28.0,377.0,19.0
4,2021-01-16,Blount County,Alabama,1009.0,5264,83.0,4008.0,73.0,1256.0,10.0

In [49]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wiscbonsin': 'WI',
    'Wyoming': 'WY'
}

In [51]:
counties['state'] = counties['state'].map(us_state_abbrev)

In [52]:
counties.head()

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2021-01-16,Autauga County,AL,1001.0,5103,55.0,4509.0,48.0,594.0,7.0
1,2021-01-16,Baldwin County,AL,1003.0,16002,179.0,11552.0,130.0,4450.0,49.0
2,2021-01-16,Barbour County,AL,1005.0,1712,36.0,971.0,28.0,741.0,8.0
3,2021-01-16,Bibb County,AL,1007.0,2130,47.0,1753.0,28.0,377.0,19.0
4,2021-01-16,Blount County,AL,1009.0,5264,83.0,4008.0,73.0,1256.0,10.0

In [72]:
x = zipcodes.matching('92127')
c = x[0]['county']
s = x[0]['state']

In [74]:
counties[(counties['county'] == c) & (counties['state'] == s)]

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
222,2021-01-16,San Diego County,CA,6073.0,206933,2037.0,206933.0,2037.0,NaN,NaN

In [67]:
user_cases = int(counties[(counties['county'] == c) & (counties['state'] == s)].cases)

In [68]:
user_deaths = int(counties[(counties['county'] == c) & (counties['state'] == s)].deaths)

In [ ]:
Raw County level Data

In [ ]:
# https://knowi.com/api/data/ipE4xJhLBkn8H8jisFisAdHKvepFR5I4bGzRySZ2aaXlJgie?entityName=Raw%20County%20level%20Data&exportFormat=csv

In [77]:
new_shit = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
new_shit.tail()

              date      county    state     fips  cases  deaths
933493  2021-01-15  Sweetwater  Wyoming  56037.0   3262    26.0
933494  2021-01-15       Teton  Wyoming  56039.0   2605     4.0
933495  2021-01-15       Uinta  Wyoming  56041.0   1806     9.0
933496  2021-01-15    Washakie  Wyoming  56043.0    839    23.0
933497  2021-01-15      Weston  Wyoming  56045.0    602     4.0

In [75]:
from twilio.rest import Client

# Your Account SID from twilio.com/console
account_sid = "AC2fbfcb63a879cbc501befbcbc617bead"
# Your Auth Token from twilio.com/console
auth_token  = "d420c43055963f79061b79431a4fc190"

client = Client(account_sid, auth_token)



message = client.messages.create(
    to="+18589242057", 
    from_="+16264953242",
    body="Cumulative COVID Cases: " + str(user_cases) + "\n" + "Cumulative COVID Deaths: " + str(user_deaths))

print(message.sid)

SM2b101b2ddedc44a68aafbed7462c22ce